$accent-color: #808000;
$main-color: #ffffff;
$secondary-color: #000000;
$secondary-text-color: #707070;
$light-text-color: #eeeeee;
$bg-footer-color: #1b1b1b;
$bg-main-color: #1f1f1f;
$bg-main-color-transparent: rgba(0, 0, 0, 0.7);
$bg-main-color-transparent-dark: rgba(0, 0, 0, 0.9);