$accent-color: #808000;
$main-color: #ffffff;
$secondary-color: #000000;
$secondary-text-color: #707070;
$bg-footer-color: #1b1b1b;
$bg-main-color: #1f1f1f;
$bg-main-color-transparent: rgba(31,31,31,0.4);