@import "./src/utils/styles/mixins";
@import "colors";

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;


  &--app {
    flex-grow: 1;
  }
}

.app {
  min-height: 100vh;
  @include flex($dir: column, $justify: space-between);
  background: $bg-main-color top/200% no-repeat;
  position: relative;

  @include respond(laptop) {
    background: $bg-main-color top/100% no-repeat;
  }
}

.button {
  display: block;
  cursor: pointer;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;

  padding: 15px 0;
  margin: 20px 20px;
  width: calc(100% - 40px);
  border: 2px solid transparent;

  @include respond(tablet) {
    width: 30%;
    display: inline-block;
  }

  &--border {
    border: 2px solid $main-color;
    &:hover{
      background-color: $accent-color;
      transition: 300ms;
    }
  }

  &--accent {
    background-color: $accent-color;
    color: $secondary-color;
    &:hover{
      border: 2px solid $main-color;
      transition: 300ms;
    }
  }

  &--center {
    margin: 20px auto;
    @include respond(tablet) {
      margin: 20px 35%;
    }
  }

  &--fifteen{
    width: 50%;
    margin: 20px 25%;
  }
}

.accent {
  color: $accent-color;
}

.error, .loading {
  color: $main-color;
  margin: 120px 0 50px;
  font-size: 30px;
  text-align: center;

  @include respond(tablet) {
    margin: 167px 0 50px;
  }

  @include respond(laptop) {
    margin: 250px 0 50px;
  }
}